<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
  <div>
    <h1>Mobile Ticket Viewer</h1>
    <p>Requester: <%= requester %></p>
    <h2><%= subject %></h2>
    <p><%= description %></p>
  </div>
</main>

<a href=<%= back_url %>> Back to all tickets </a>

<footer>
</footer>

</body>
</html>